<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="367dd060-090a-438c-87c0-67b4e39da6cf" Codepage="1252" Language="1033" Manufacturer="test" Name="test04" UpgradeCode="b98e9f37-70a1-4167-91d3-6ee02f1001dd" Version="1.0.0.1">
        <Package Compressed="yes" InstallerVersion="200" Languages="1033" Platform="x64" SummaryCodepage="1252"/>
        <Media Id="1" Cabinet="Application.cab" EmbedCab="yes"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR" Name="test">
                    <Component Id="testcomp" Guid="4ecf46be-3a9d-4ec6-9749-f107cf190bd7" Win64="yes">
                        <File Id="testfile" Name="test.txt" KeyPath="yes" DiskId="1" Source="..\test.txt"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="test" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLDIR" Description="test" Title="test">
            <ComponentRef Id="testcomp"/>
        </Feature>

        <!-- actions definition -->
        <CustomAction Id="action_1_prep" Property="action_1" Value="&quot;[System64Folder]cmd.exe&quot; /c echo hello"/>
        <CustomAction Id="action_1" BinaryKey="WixCA" DllEntry="WixQuietExec64" Return="ignore" Execute="deferred" Impersonate="no" />

        <!-- actions order -->
        <InstallExecuteSequence>
            <Custom Action="action_1_prep" Before="action_1">&amp;test=3 AND NOT !test=3</Custom>
            <Custom Action="action_1" Before="InstallFinalize">&amp;test=3 AND NOT !test=3</Custom>
        </InstallExecuteSequence>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
        <UIRef Id="WixUI_FeatureTree"/>
        <UIRef Id="WixUI_ErrorProgressText"/>
        <MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." IgnoreRemoveFailure="no"/>
    </Product>
</Wix>
